<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207259284650-eoc21uq2tid8ch7hfi2ep0ge5d1nm9ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207259284650-eoc21uq2tid8ch7hfi2ep0ge5d1nm9ee</string>
	<key>API_KEY</key>
	<string>AIzaSyD2mG_D2RlPu0q7924OJNcxnxNKOhd4YLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>207259284650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brightsummit.CCDemo</string>
	<key>PROJECT_ID</key>
	<string>ccdemo-fa725</string>
	<key>STORAGE_BUCKET</key>
	<string>ccdemo-fa725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207259284650:ios:fce67736a2c847dcb84cd3</string>
</dict>
</plist>